/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.featureImg {
  width: 50%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}