/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding-bottom: 0rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-hero-bg-color);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.button {
  padding-right: 1rem;
}

.featureImg {
  width: 15%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

.hero__subtitle {
  color: white;
}

h2 {
  text-align: center;
}

.btngrad {
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btngrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
